@font-face {
    font-family: 'Open Sans';
    /* font-style: normal;
    font-weight: 400; */
     src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') /* format('woff') */

}

html{
    font-family: "Open Sans", sans-serif;
    background-color: #333;
}

.load {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}
.load2 {
    display: flex;
    justify-content: center;
    margin: 80px auto;
}

.load div {
    width: 20px;
    height: 20px;
    background-color: #9e6ba6;
    margin: 7.5px;
    border-radius: 50%;
    animation-name: change-opacity;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load .two {
    animation-delay: 0.16s;
}
.load .three {
    animation-delay: 0.32s;
}
.load .four {
    animation-delay: 0.48s;
}
.load .five {
    animation-delay: 0.64s;
}

@keyframes change-opacity {
    to {
        opacity: 0.5;
        margin-left: 30px;
        margin-rights: 30px;

    }
}


.load2 div {
    width: 20px;
    height: 20px;
    background-color: #9e6ba6;
    margin: 7.5px;
    border-radius: 50%;
    animation-name: change-opacity2;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.load2 .two {
    animation-delay: 0.2s;
}
.load2 .three {
    animation-delay: 0.4s;
}
.load2 .four {
    animation-delay: 0.6s;
}
.load2 .five {
    animation-delay: 0.8s;
}

@keyframes change-opacity2 {
    to {
        opacity: 0.5;
        transform:translateY(-30px)
    }
}


